<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="haribahagiaku" />

    <meta property="og:type" content="website" />

    <!-- Site Name, Title, and Description to be displayed -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Aqiqah-1 | Hari Bahagiaku" />
    <meta property="og:title" content="Aqiqah-1 | Hari Bahagiaku" />
    <meta
      property="og:description"
      content="Tanpa mengurangi rasa hormat. Kami mengundang Bapak/Ibu/Saudara/i  serta Kerabat sekalian untuk menghadiri acara Aqiqah putra kami."
    />
    <meta
      property="og:url"
      content="https://haribahagiaku.netlify.app/template/aqiqah1"
    />

    <meta property="og:image:type" content="image/jpeg" />
    <meta
      property="og:image"
      content="https://haribahagiaku.netlify.app/template/aqiqah1/assets/images/thumb.jpg"
    />

    <!-- Size of image. Any size up to 300. Anything above 300px will not work in WhatsApp -->
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <meta
      name="description"
      content="Tanpa mengurangi rasa hormat. Kami mengundang Bapak/Ibu/Saudara/i  serta Kerabat sekalian untuk menghadiri acara Aqiqah putra kami."
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://haribahagiaku.netlify.app/template/aqiqah1"
    />
    <meta property="twitter:title" content="Aqiqah-1 | Hari Bahagiaku" />
    <meta
      property="twitter:image"
      content="https://haribahagiaku.netlify.app/template/aqiqah1/assets/images/thumb.jpg"
    />

    <!-- Pavicon -->
    <link
      rel="shortcut icon"
      href="assets/images/pavicon.png"
      type="image/x-icon"
    />

    <!-- Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- My Style -->
    <link rel="stylesheet" href="assets/css/style.css" />

    <title>Aqiqah-1 | Hari Bahagiaku</title>
  </head>
  <body id="fs">
    <link
      itemprop="thumbnailUrl"
      href="https://haribahagiaku.netlify.app/template/aqiqah1/assets/images/thumb.jpg"
    />
    <span
      itemprop="thumbnail"
      itemscope
      itemtype="http://schema.org/ImageObject"
    >
      <link
        itemprop="url"
        href="https://haribahagiaku.netlify.app/template/aqiqah1/assets/images/thumb.jpg"
      />
    </span>

    <!-- section -->
    <section id="app">
      <!-- icon musik -->
      <i
        class="bi bi-play-fill icon-musik"
        id="icon-musik"
        onclick="musik()"
      ></i>

      <!-- musik -->
      <audio
        src="assets/song/ROHMAN YA ROHMAN COVER BY SABYAN.mp3"
        id="audio"
        loop
      ></audio>

      <!-- Overlay -->

      <!-- end overlay -->
      <!-- container home -->
      <div class="container-fluid home">
        <div class="row">
          <div class="col">
            <h2>UNDANGAN AQIQAH</h2>
            <h1>Gibran Raqqilla Firaz</h1>
            <h2>Senin, 1 Mei 2022</h2>
          </div>
        </div>
        <a href="#info-bayi" class="lihat-undangan" onclick="musik()"
          ><i class="bi bi-arrow-down-circle"></i>Lihat Undangan</a
        >
      </div>
      <!-- end container home -->

      <!-- container info bayi -->
      <div
        class="container-fluid info-bayi justify-content-center"
        id="info-bayi"
      >
        <div class="row justify-content-center pt-5">
          <div class="col-md-7 col-sm-10 text-center">
            <h2 class="arabic">ِبِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيْم</h2>
            <p class="mt-1 fw-bold">
              Assalamualaikum Warahmatullahi Wabarakatuh
            </p>
            <p>
              Alhamdulillah puji syukur kehadirat Allah SWT atas berkah dan
              rahmat-Nya. Sholawat serta salam tetap tercurah kepada suri
              tauladan Nabi Muhammad SAW. Kami bermaksud mengundang
              Bapak/Ibu/Saudara/i serta Kerabat untuk menghadiri dan memberikan
              Do'a pada Acara Tasyakuran Aqiqah putra kami :
            </p>
          </div>
        </div>
        <!-- card -->
        <div class="row justify-content-center pt-4">
          <div class="col-md-7 col-sm-8">
            <div class="card card-bayi text-center">
              <div class="img">
                <img src="assets/images/baby1.webp" alt="" />
              </div>
              <div class="card-body">
                <h1>Gibran Raqqilla Firaz</h1>
                <p class="card-text">
                  Putra pertama dari <br />
                  Bapak Firaz & Ibu Putri
                </p>
                <p class="card-text">Lahir di Wajo, 4 November 2021</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end container info bayi -->

      <!-- container info acara -->
      <div class="container-fluid info-acara pt-5 pb-5">
        <div class="row justify-content-center">
          <div class="col-md-7 col-sm-10 text-center">
            <h1>Acara</h1>
            <p>
              Dengan mengharap rahmat dan ridho Allah SWT, Kami bermaksud
              menyelenggarakan Tasyakuran Aqiqah puteri kami, yang Insya Allah
              akan diselenggarakan pada:
            </p>
          </div>
        </div>
        <div class="row cards justify-content-evenly pb-3">
          <div class="col-md-5 col-sm-8 mb-4">
            <div class="card acara">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-10">
                    <i class="bi bi-calendar-heart"></i>
                    <p>Senin, 1 Mei 2022</p>
                  </div>
                  <div class="col-md-10">
                    <i class="bi bi-clock"></i>
                    <p>Pukul 09.00 WITA - Selesai</p>
                  </div>
                  <div class="col-md-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p>Jln. Mangga, Kab.Wajo, Prov.Sulawesi Selatan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-8">
            <div class="card protokol-kesehatan">
              <div class="card-body">
                <div class="row">
                  <div class="col text-center">
                    <h2>Patuhi Protoko Kesehatan</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="img-box">
                      <img src="assets/images/mask.webp" alt="" />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="img-box">
                      <img src="assets/images/washing-hands.webp" alt="" />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="img-box">
                      <img src="assets/images/social-distancing.webp" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center countdown">
          <!-- countdown -->
          <div class="card" style="--i: 2">
            <h2 id="hari" class="time">11</h2>
            <p>Hari</p>
          </div>
          <div class="card" style="--i: 3">
            <h2 id="jam" class="time">11</h2>
            <p>Jam</p>
          </div>
          <div class="card" style="--i: 4">
            <h2 id="menit" class="time">11</h2>
            <p>Menit</p>
          </div>
          <div class="card" style="--i: 5">
            <h2 id="detik" class="time">11</h2>
            <p>Detik</p>
          </div>
        </div>
      </div>
      <!-- end container info acara -->

      <!-- container gallery -->
      <div class="container-fluid gallery pt-5 pb-5">
        <div class="row justify-content-center pb-4">
          <div class="col-md-7 col-sm-10 text-center">
            <h1>Galeri Foto</h1>
          </div>
        </div>

        <!-- Gallery -->
        <div class="row justify-content-evenly">
          <div class="col-md-3 col-sm-10">
            <img src="assets/images/baby1.webp" class="img" />
          </div>
          <div class="col-md-3 col-sm-10">
            <img src="assets/images/baby2.webp" class="img" />
          </div>
          <div class="col-md-3 col-sm-10">
            <img src="assets/images/baby3.webp" class="img" />
          </div>
          <div class="col-md-3 col-sm-10">
            <img src="assets/images/baby4.webp" class="img" />
          </div>
          <div class="col-md-3 col-sm-10">
            <img src="assets/images/baby.webp" class="img" />
          </div>
          <div class="col-md-3 col-sm-10">
            <img src="assets/images/baby1.webp" class="img" />
          </div>
          <div class="col-md-3 col-sm-10">
            <img src="assets/images/baby5.webp" class="img" />
          </div>
        </div>
        <!-- Gallery -->
      </div>
      <!-- end container gallery -->

      <!-- Container buku tamu -->
      <div class="container-fluid buku-tamu pt-5 pb-5">
        <div class="row justify-content-center pb-4">
          <div class="col-md-7 col-sm-10 text-center">
            <h1>Buku Tamu</h1>
          </div>
          <div class="col-md-6 pt-3 d-none my-alert">
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              Kami ucapkan terimakasih banyak atas doa restu dan tanda kasih
              yang diberikan kepada kami.
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-8">
            <!-- Form -->
            <div class="ucapan">
              <form name="my-form" class="my-form">
                <div class="input-box">
                  <input type="text" autocomplete="off" name="nama" required />
                  <div class="label-name">
                    <span>Nama Lengkap</span>
                  </div>
                </div>
                <div class="input-box">
                  <input
                    type="text"
                    autocomplete="off"
                    name="alamat"
                    required
                  />
                  <div class="label-name">
                    <span>Alamat</span>
                  </div>
                </div>
                <div class="input-box">
                  <textarea
                    class="pesan-singkat"
                    required
                    placeholder="Ucapan/Doa"
                    name="pesan"
                  ></textarea>
                  <!-- <input type="text" autocomplete="off" required>-->
                </div>
                <button type="submit" class="btnKirim">Kirim</button>
                <button type="button" class="d-none btnLoading" disabled>
                  <span></span>Loading
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End container buku tamu -->

      <!-- Container amplop digital -->

      <div class="container-fluid amplop-digital pt-5 pb-5">
        <div class="row justify-content-center">
          <div class="col-md-7 col-sm-10 text-center pb-5">
            <h1>Amplop Digital</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-3 col-sm-6 mb-3">
            <div class="card">
              <div class="img-box">
                <img src="assets/images/DANA.webp" alt="" />
              </div>
              <div class="card-body">
                <p class="card-text fw-bold akun" data-akun="0812312412">
                  0812312412<i class="bi bi-clipboard mx-2" id="copy"></i>
                </p>
                <p class="card-text">A.N. Firaz</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-3">
            <div class="card">
              <div class="img-box">
                <img src="assets/images/BCA.webp" alt="" />
              </div>
              <div class="card-body">
                <p class="card-text fw-bold akun" data-akun="91243824">
                  91243824<i class="bi bi-clipboard mx-2" id="copy"></i>
                </p>
                <p class="card-text">A.N. Firaz</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-3">
            <div class="card">
              <div class="img-box">
                <img src="assets/images/Gopay.webp" alt="" />
              </div>
              <div class="card-body">
                <p class="card-text fw-bold akun" data-akun="0881234512">
                  0881234512<i class="bi bi-clipboard mx-2" id="copy"></i>
                </p>
                <p class="card-text">A.N. Putri</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end container amplop digital -->
      <div class="container-fluid map pt-5 pb-5">
        <div class="row justify-content-center pb-4">
          <div class="col-md-7 col-sm-10 text-center">
            <h1>Denah Lokasi</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10 col-sm-12">
            <div class="map-box text-center">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1989.70249487759!2d120.03041371189663!3d-4.140477238780257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x2d95e72a0e4d4b75%3A0x6e280901f8cdba28!2sKota%20sengkang%2C%20Jl.%20Lamddukkelleng%20No.1%2C%20Siengkang%2C%20Tempe%2C%20Kabupaten%20Wajo%2C%20Sulawesi%20Selatan%2090914!3m2!1d-4.1405199999999995!2d120.03164459999999!5e0!3m2!1sid!2sid!4v1643858489984!5m2!1sid!2sid"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
              <a
                href="https://www.google.com/maps/dir//Kota+sengkang,+Jl.+Lamddukkelleng+No.1,+Siengkang,+Tempe,+Kabupaten+Wajo,+Sulawesi+Selatan+90914/@-4.1404772,120.0304137,18z/data=!4m8!4m7!1m0!1m5!1m1!1s0x2d95e72a0e4d4b75:0x6e280901f8cdba28!2m2!1d120.0316446!2d-4.14052"
                class="map-btn"
                ><p><i class="bi bi-geo-alt-fill"></i>Buka Gmaps</p></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Container Map -->

      <!-- container penutup -->
      <div class="container-fluid info-acara pt-5 pb-5">
        <div class="row justify-content-center">
          <div class="col-md-7 col-sm-10 text-center pb-5">
            <p>
              Merupakan suatu kebahagiaan dan kehormatan bagi kami, apabila
              Bapak/Ibu/Saudara/i berkenan hadir. Atas kehadiran dan Do'a nya,
              kami mengucapkan terima kasih
            </p>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-md-6 col-sm-10">
            <p class="fw-bold">Hormat kami yang mengundang</p>
            <p>
              Muh. Firaz <br />
              Putri Maya
            </p>
          </div>
        </div>
      </div>

      <footer>
        <p class="fw-bold">
          Made with
          <span style="color: red; font-size: 1.1rem">&#x2764;</span> by
          <a href="https://haribahagiaku.netlify.app/" target="_parent"
            >HariBahagiaku</a
          >
        </p>
      </footer>
      <!-- end container penutup -->
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Script -->
    <script src="assets/js/script.js"></script>
  </body>
</html>
