<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Toni&Zahra" />
    <meta property="og:title" content="Wedding Invitation Toni & Zahra" />
    <meta
      property="og:url"
      content="https://haribahagiaku.netlify.app/template/nikah1-ungu"
    />
    <meta
      property="og:description"
      content="Tanpa mengurangi rasa hormat. Kami mengundang Bapak/Ibu/Saudara/i serta Kerabat sekalian untuk menghadiri acara pernikahan kami"
    />

    <meta property="og:image:type" content="image/webp" />
    <meta
      property="og:image"
      content="https://haribahagiaku.netlify.app/template/nikah1-ungu/assets/images/thumb.webp"
    />
    <meta
      property="og:image"
      content="https://haribahagiaku.netlify.app/template/nikah1-ungu/assets/images/thumb.webp"
    />
    <meta
      property="og:image:secure_url"
      content="https://haribahagiaku.netlify.app/template/nikah1-ungu/assets/images/thumb.webp"
    />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:theme-color" content="#8657a7" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://haribahagiaku.netlify.app/template/nikah1-ungu"
    />
    <meta property="twitter:title" content="Aqiqah-1 | Hari Bahagiaku" />
    <meta
      property="twitter:image"
      content="https://haribahagiaku.netlify.app/template/nikah1-ungu/assets/images/thumb.webp"
    />

    <title>Toni & Zahra | Wedding Invitation</title>
    <link
      rel="shortcut icon"
      href="assets/images/pavicon.webp"
      type="image/x-icon"
    />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <!-- icon -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />

    <!-- style -->
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <link
      itemprop="thumbnailUrl"
      href="https://haribahagiaku.netlify.app/template/nikah1-ungu/assets/images/thumb.webp"
    />
    <span
      itemprop="thumbnail"
      itemscope
      itemtype="http://schema.org/ImageObject"
    >
      <link
        itemprop="url"
        href="https://haribahagiaku.netlify.app/template/nikah1-ungu/assets/images/thumb.webp"
      />
    </span>

    <section id="app">
      <!-- icon musik -->
      <i
        class="bi bi-pause-fill icon-musik"
        id="icon-musik"
        onclick="musik(this)"
      ></i>

      <!-- musik -->
      <audio
        src="assets/song/You Are The Reason - Calum Scott cover by Alexandra Porat.mp3"
        id="audio"
        loop
      ></audio>

      <!-- Overlay saat undangan pertama kali dibuka -->
      <div class="overlay">
        <img src="assets/images/flower-top.webp" alt="" class="top" />
        <div class="content">
          <img src="assets/images/illus.webp" alt="" class="illus" />
          <h1>Toni & Zahra</h1>
          <p>30 Desember 2022</p>
          <p>
            Tanpa mengurangi rasa hormat. Kami mengundang Bapak/Ibu/Saudara/i
            serta Kerabat sekalian untuk menghadiri acara pernikahan kami
          </p>
          <button class="buka-undangan">
            <i class="bi bi-envelope-open-fill icon-undangan"></i> Buka Undangan
          </button>
        </div>
        <img src="assets/images/flower-bottom.webp" alt="" class="bottom" />
      </div>
      <!-- Akhir overlay -->

      <!-- container one -->
      <div class="container one">
        <div class="hero">
          <img src="assets/images/flower-top.webp" alt="" class="top" />
          <div class="content box" style="--i: 1">
            <p>WEDDING INVITATION</p>
            <h1>Toni & Zahra</h1>
            <p>30 Desember 2022</p>
          </div>
          <img src="assets/images/flower-bottom.webp" alt="" class="bottom" />
        </div>

       <!-- countdown -->
       <div class="countdown" id="countdown">
        <div class="card box" style="--i: 2">
          <h2 id="hari" class="time">11</h2>
          <p>Hari</p>
        </div>
        <span>:</span>
        <div class="card box" style="--i: 3">
          <h2 id="jam" class="time">11</h2>
          <p>Jam</p>
        </div>
        <span>:</span>
        <div class="card box" style="--i: 4">
          <h2 id="menit" class="time">11</h2>
          <p>Menit</p>
        </div>
        <span>:</span>
        <div class="card box" style="--i: 5">
          <h2 id="detik" class="time">11</h2>
          <p>Detik</p>
        </div>
      </div>
    </div>
    <!-- end container one -->

    <!-- Container two -->
    <div class="container two">
      <div class="ayat" data-aos="fade-up">
        <p>
          "Dan diantara tanda-tanda kekuasaan Allah diciptakan-Nya untukmu
          pasangan hidup dari jenismu sendiri supaya kamu merasa tentram di
          sampingnya, dan dijadikan-Nya kasih sayang diantara kamu.
          Sesungguhnya yang demikian menjadi tanda-tanda kebesaran-Nya bagi
          orang-orang yang berfikir"
        </p>
        <p>(Q.S Ar-Rum: 21)</p>
      </div>
      <div class="mempelai">
        <h2 data-aos="fade-up">Kedua Mempelai</h2>
        <div class="row">
          <div class="col" data-aos="fade-right">
            <div class="img"><img src="assets/images/perempuan.webp" /></div>
            <p>Az Zahra</p>
            <p>Putri ke-4 dari Bapak Muhammad dan Ibu Siti Halimah</p>
          </div>
          <div class="col" data-aos="fade-left" data-aos-delay="100">
            <div class="img"><img src="assets/images/laki-laki.webp" /></div>
            <p>Toni Lampard</p>
            <p>Putra ke-2 dari Bapak Sutton Mark dan Ibu Catherine Zenni</p>
          </div>
        </div>
      </div>

      <!-- Info -->
      <div class="info">
        <div class="row">
          <div class="col" data-aos="fade-right">
            <h2>Akad Nikah</h2>
            <p>30 Desember 2022</p>
            <p>08.00 sd 10.30</p>
            <p>Jl. Manchester No. 81 B, Chelsea, West Java</p>
          </div>
          <div class="col" data-aos="fade-left" data-aos-delay="100">
            <h2>Resepsi</h2>
            <p>31 Desember 2022</p>
            <p>12.00 sd 16.30</p>
            <p>Jl. Manchester No. 81 B, Chelsea, West Java</p>
          </div>
        </div>
        <div class="row">
          <div class="col" data-aos="fade-up" data-aos-delay="200">
            <h2>Turut Mengundang</h2>
            <p>nama satu</p>
            <p>nama dua</p>
            <p>nama tiga</p>
            <p>nama empat</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End container two -->

    <!-- Container three -->
    <div class="container three">
      <h2 data-aos="fade-up">Perjalanan Cinta</h2>
      <div class="timeline">
        <ul>
          <li>
            <div class="content" data-aos="fade-up">
              <h1>Pertemuan Pertama</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                obcaecati qui sequi rem quidem pariatur aperiam culpa ipsum
                quod explicabo. Vel accusamus aliquid distinctio. In deserunt
                dolores nihil facere quidem.
              </p>
            </div>
            <div class="time">12 Jan 2018</div>
          </li>
          <li>
            <div class="content" data-aos="fade-up">
              <h1>Pacaran</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                obcaecati qui sequi rem quidem pariatur aperiam culpa ipsum
                quod explicabo. Vel accusamus aliquid distinctio. In deserunt
                dolores nihil facere quidem.
              </p>
            </div>
            <div class="time" >23 Des 2019</div>
          </li>
          <li>
            <div class="content" data-aos="fade-up">
              <h1>Lamaran</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                obcaecati qui sequi rem quidem pariatur aperiam culpa ipsum
                quod explicabo. Vel accusamus aliquid distinctio. In deserunt
                dolores nihil facere quidem.
              </p>
            </div>
            <div class="time">18 Jun 2022</div>
          </li>
          <li>
            <div class="content" data-aos="fade-up">
              <h1>Pernikahan</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                obcaecati qui sequi rem quidem pariatur aperiam culpa ipsum
                quod explicabo. Vel accusamus aliquid distinctio. In deserunt
                dolores nihil facere quidem.
              </p>
            </div>
            <div class="time">30 Des 2022</div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End container three -->

    <!-- Container four -->
    <div class="container four">
      <h2 data-aos="fade-up">Galeri Foto</h2>
      <div class="gallery">
        <div class="card">
          <img src="assets/images/1.webp" alt="" />
        </div>
        <div class="card">
          <img
            src="assets/images/2.webp"
            alt=""
            style="transform: translateY(-150px)"
          />
        </div>
        <div class="card">
          <img src="assets/images/3.webp" alt="" />
        </div>
        <div class="card">
          <img src="assets/images/4.webp" alt="" />
        </div>
        <div class="card">
          <img
            src="assets/images/5.webp"
            alt=""
            style="transform: translateY(-80px)"
          />
        </div>
      </div>
    </div>

    <!-- End container four -->

    <!-- Container five -->
    <div class="container five">
      <h2 data-aos="fade-up">Buku Tamu</h2>
      <div class="alert d-none">
        <p>
          Kami ucapkan terimakasih banyak atas kehadiran dan Do'a restu-nya.
        </p>
        <p class="close">x</p>
      </div>
      <div class="ucapan" data-aos="fade-up">
        <form name="my-form" class="my-form">
          <div class="input-box">
            <input type="text" autocomplete="off" name="nama" required />
            <div class="label-name">
              <span>Nama Lengkap</span>
            </div>
          </div>
          <div class="input-box">
            <input type="text" autocomplete="off" name="alamat" required />
            <div class="label-name">
              <span>Alamat</span>
            </div>
          </div>
          <div class="input-box">
            <input
              type="text"
              autocomplete="off"
              name="nomor-whatsapp"
              required
            />
            <div class="label-name">
              <span>Nomor Whatsapp</span>
            </div>
          </div>
          <div class="input-box">
            <textarea
              class="pesan-singkat"
              required
              placeholder="Pesan Singkat"
              name="pesan"
            ></textarea>
          </div>
          <button type="submit" class="btnKirim">Kirim</button>
          <button type="button" class="d-none btnLoading" disabled>
            <span></span>Loading
          </button>
        </form>
      </div>
    </div>

    <!-- End container five -->

    <!-- container amplop digital -->
    <div class="container amplop-digital">
      <h2 data-aos="fade-up">Amplop Digital</h2>
      <div class="cards">
        <div class="card" data-aos="fade-right" >
          <div class="imgbox">
            <img src="assets/images/DANA.webp" alt="" />
          </div>
          <div class="card-body">
            <p class="card-text" data-akun="0812312412">
              0812312412<i class="bi bi-clipboard mx-2" id="copy"></i>
            </p>
            <p class="card-text">A.N. Toni</p>
          </div>
        </div>
        <div class="card" data-aos="fade-up" data-aos-delay="200">
          <div class="imgbox">
            <img src="assets/images/BCA.webp" alt="" />
          </div>
          <div class="card-body">
            <p class="card-text" data-akun="9241453747">
              9241453747<i class="bi bi-clipboard mx-2" id="copy"></i>
            </p>
            <p class="card-text">A.N. Zahra</p>
          </div>
        </div>
        <div class="card" data-aos="fade-left" data-aos-delay="100">
          <div class="imgbox">
            <img src="assets/images/Gopay.webp" alt="" />
          </div>
          <div class="card-body">
            <p class="card-text" data-akun="0812312412">
              0812312412<i class="bi bi-clipboard mx-2" id="copy"></i>
            </p>
            <p class="card-text">A.N. Toni</p>
          </div>
        </div>
      </div>
    </div>

    <!-- end contaier amplop digital -->

    <!-- Container six -->
    <div class="container six">
      <h2 data-aos="fade-up">Lokasi Pernikahan</h2>
      <div class="maps" data-aos="fade-up">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d63579.15351151995!2d119.41367259428678!3d-5.152362894356302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x2dbee329d96c4671%3A0x3030bfbcaf770b0!2sMakassar%2C%20Kota%20Makassar%2C%20Sulawesi%20Selatan!3m2!1d-5.147665099999999!2d119.4327314!5e0!3m2!1sid!2sid!4v1641803943458!5m2!1sid!2sid"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <a
        href="https://www.google.com/maps?ll=-5.152363,119.413673&z=12&t=m&hl=id&gl=ID&mapclient=embed&saddr&daddr=Makassar,+Kota+Makassar,+Sulawesi+Selatan&dirflg=d"
        target="_blank"
        >Buka Maps</a
      >
    </div>

    <!-- End container six -->

    <!-- container penutup -->

    <div class="container penutup">
      <div class="kata-penutup" data-aos="fade-up">
        <p>
          Merupakan suatu kebahagiaan dan kehormatan bagi kami, apabila
          Bapak/Ibu/Saudara/i berkenan hadir. Atas kehadiran dan Do'a
          restu-nya, kami mengucapkan terima kasih
        </p>
      </div>
      <div class="turut-mengundang">
        <p data-aos="fade-up" data-aos-delay="100">Hormat kami yang mengundang</p>
        <p data-aos="fade-up"  data-aos-delay="200">
          Muh. Firaz <br />
          Putri Maya
        </p>
      </div>
      <div class="protokol-kesehatan" data-aos="fade-up"  data-aos-delay="300">
        <p>Tetap Patuhi Protokol Kesehatan</p>
        <div class="protokol-img">
          <div class="imgbox">
            <img src="assets/images/mask.webp" alt="" />
          </div>

          <div class="imgbox">
            <img src="assets/images/washing-hands.webp" alt="" />
          </div>

          <div class="imgbox">
            <img src="assets/images/social-distancing.webp" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- end container penutup -->

    <!-- Footer -->

    <footer>
      <p>
        Made with
        <span style="color: red; font-size: 1.1rem">&#x2764;</span> by
        <a href="https://haribahagiaku.netlify.app/" target="_parent"
          >HariBahagiaku</a
        >
      </p>
    </footer>

    <!-- End footer -->
  </section>

  <!-- AOS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

  <script src="assets/js/main.js"></script>
</body>
</html>
